.App_Config{
    width: 1100px;
}
li{
    margin-left: 0.5cm;
}
.App_Config ul{
    margin-left: 0.5cm;
}
.Properties ul{
    margin-left: 0.5cm;
}
.CSC_Config ul{
    margin-left: 0.5cm;
}
.DSA{
    margin-left: 0.5cm;
}
.Endpoint ul{
    margin-left: 0.5cm;
}
.Envi ul{
    margin-left: 0.5cm;
}
.KMP ul{
    margin-left: 0.5cm;
}
.Resource ul{
    margin-left: 0.5cm;
}
.Result ul{
    margin-left: 0.5cm;
}
.Role_Based ul{
    margin-left: 0.5cm;
}
.Schedules ul{
    margin-left: 0.5cm;
}
.Service ul{
    margin-left: 0.5cm;
}
.Startup ul{
    margin-left: 0.5cm;
}
.Group ul{
    margin-left: 0.5cm;
}
.Test_Module ul{
    margin-left: 0.5cm;
}
.Upload ul{
    margin-left: 0.5cm;
}
.User_Input ul{
    margin-left: 0.5cm;
}
.Version ul{
    margin-left: 0.5cm;
}
.Workflow_Modules ul{
    margin-left: 0.5cm;
}
.Components ul{
    margin-left: 0.5cm;
}
.Model ul{
    margin-left: 0.5cm;
}
.Templates ul{
    margin-left: 0.5cm;
}
.Relationships ul{
    margin-left: 0.5cm;
}
.Actions ul{
    margin-left: 0.5cm;
}
.Checks ul{
    margin-left: 0.5cm;
}
.Global ul{
    margin-left: 0.5cm;
}
